/*
__________________________________________________________________________

                    reset
__________________________________________________________________________
 */
* {

    font-family: Berkshire Swash, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #171A1B;

}

/*
  __________________________________________________________________________
  
                      Header
  __________________________________________________________________________
   */


header {
    position: fixed;
    width: 100%;
    height: 8vh;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    text-decoration: none;
    background-color: rgba(182, 182, 182, 0.1);
    position: top;
    z-index: 9999999999;
}

header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0px!important;
}

header .menu ul li a {
    color: white;
    font-size: 17px;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.8s ease;
    text-decoration: none;
}

header .menu .active {
    border-bottom: 2px solid rgb(230, 0, 0);
}


header .menu ul li a i {
    margin: 0 3px;
}

header .menu ul li:hover a {
    border-bottom: 2px solid rgb(230, 0, 0);
}

header .menu img {
    width: 70px;
}

header .menu .account-mobil {
    display: none;
    opacity: 0;
}

.fa-bars {
    color: #fff;
}

.menu-icon {
    display: none;
}


header .account {
    display: flex;
    position: right;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.btn:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.btn-outline-light {
    border: #ecf0f1 1px solid;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.btn-outline-light:hover {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-warning {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}


.btn-warning-red {
    margin-left: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: brown;
    border-color: brown;
}


/*
  __________________________________________________________________________
  
                      Cards
  __________________________________________________________________________
   */


.Utilisateurs {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 100px;
    background: #171A1B;
    overflow-x: hidden; 
}

a {
    color: #f96332;
}

.m-t-5 {
    margin-top: 5px;
}

.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}

.card .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}

.profile-page .profile-header {
    position: relative
}

.profile-page .profile-header .profile-image img {
    border-radius: 50%;
    width: 140px;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.profile-page .profile-header .social-icon a {
    margin: 0 5px
}

.profile-page .profile-sub-header {
    min-height: 60px;
    width: 100%
}

.profile-page .profile-sub-header ul.box-list {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
    background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
    border-right: 1px solid #e0e0e0;
    display: table-cell;
    list-style: none
}

.profile-page .profile-sub-header ul.box-list li:last-child {
    border-right: none
}

.profile-page .profile-sub-header ul.box-list li a {
    display: block;
    padding: 15px 0;
    color: #424242
}